.m-page-article {
    width: var(--mw-70);
    display: flex;
    flex-direction: var(--flex-large-mod); //row-reverse;
    margin-top: 4vw;

    .m-section-lg {
        margin: 0 3vw;
    }

    figure {
        padding-top: 56.25%;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
