.text-xsm {
    font-size: var(--text-size-xsm);
}
.text-sm {
    font-size: var(--text-size-sm);
}
.text-md {
    font-size: var(--text-size-md);
}
.text-lg {
    font-size: var(--text-size-lg);
}

.text-first {
    color: var(--color-first);
}
.text-second {
    color: var(--color-second);
}
.text-third {
    color: var(--color-third);
}
.text-fourth {
    color: var(--color-fourth);
}
