$text_xsm: 0.3vw;
$text_sm: 0.5vw;
$text_md: 0.7vw;
$text_lg: 1vw;

$color_light: #ffffff;
$color_dark: #0f0b0b;
$color_first: #6224b0;
$color_second: #876c91;
$color_third: #f8f374;
$color_fourth: #468463;
