.m-category-header {
    position: relative;
    z-index: 0;
    justify-content: center;
    padding: 0 1vw;
    background-color: var(--color-first-light);
    margin-top: 1vw;

    a {
        color: var(--color-first-dark);

        &:hover {
            color: var(--color-third);
        }
    }
}
