@use "../variables/variables.scss" as variables;

.m-header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: var(--flex-large);
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;

    @media (max-width: 991.98px) {
        width: 100vw;
        padding: 0;
        
    }

    &__logo {
        width: 50px;

        @media (max-width: 991.98px) {
            width: 60vw;
        }
    }

    h1 {
        cursor: pointer;

        &:hover {
            color: var(--color-first);
        }
    }

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        @media (max-width: 991.98px) {
            flex-direction: column;
        }

        &.row {
            flex-direction: row !important;
        }

        &--item {
            list-style-type: none;
            padding: 0.6vw;
        }
    }

    &__action {
        &--input {
            width: 10vw;
        }

        &--btn {
            width: 3vw;
        }
    }
}