@use "../variables/variables.scss" as variables;

.m-header {
    display: flex;
    flex-direction: var(--flex-large);
    align-items: center;
    justify-content: space-between;
    padding: 1vw;

    h1 {
        cursor: pointer;

        &:hover {
            color: var(--color-first);
        }
    }

    &__navigation {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        &--item {
            list-style-type: none;
            padding: 1vw;
        }
    }

    &__action {
        &--input {
            width: 10vw;
        }

        &--btn {
            width: 3vw;
        }
    }
}
