@use "../../variables/variables.scss" as variables;

.m-card-lg {
    figure {
        height: 30vw;

        img {
            height: 30vw;
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
        }
    }

    summary {
        background-color: var(--color-dark);
        color: var(--color-light);
        font-weight: bold;
        padding: var(--size-2);

        h2 {
            cursor: pointer;
            &:hover {
                color: var(--color-third);
            }
        }
    }
}
