.m-card-md {
    figure {
        height: var(--mh-device-md);

        img {
            height: var(--mh-device-md);
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
        }
    }

    summary {
        background-color: var(--color-dark);
        color: var(--color-light);
        padding: var(--size-2);

        h2 {
            cursor: pointer;
            &:hover {
                color: var(--color-fourth);
            }
        }
    }
}
