@use "../../variables/variables.scss" as variables;

.m-hero-section {
    width: var(--mw-90);
    margin: var(--size-3) auto;
    box-sizing: border-box;
    border: solid var(--size-02) var(--color-fourth);
    background-color: var(--color-second);
    color: var(--color-light);
    font-size: var(--text-size-md);
    text-transform: uppercase;

    h3 {
        padding: 1vw;
    }
}
