@use "../../variables/variables.scss" as variables;

.m-section-md {
    width: var(--mw-30);
    // border: solid var(--size-02) var(--color-second);
    order: var(--order-md);
    margin: var(--size-1);
}
